
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
h1 {
    font-style: normal;
    font-size: 60px;
    line-height: 1;
   
}
header h2 {
    font-weight: 100;

}
h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
    url(../images/houston.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(236, 225, 210);
    text-align: center;
    padding: 260px;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
 header a {
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    background-color: aliceblue;
    text-decoration: none;
    padding: 16px;
    display: inline-block;
 }
 @media(max-width: 800px) {
    header {
        padding: 60px 0;
    }
 }
 footer {
    color: azure;
    background-image: linear-gradient(rgba(39,32,68,0.8), rgba(39,32,68,0.9)), url("../images/houston3.jpeg");
    background-repeat: no repeat;
    background-size: cover;
    padding: 80px,0;
    
    
 }
footer h3 {
font-weight: 700;
font-size: 20px;
line-height: 30px;
 }
 a {
    color: lightblue;
    text-decoration: none;
 }
.container2 {
    padding: 50px
}
 section {
    max-width: 1200px;
    margin: 0 auto;
 }