
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
h1 {
    font-style: normal;
    font-size: 60px;
    line-height: 1;
   
}
header h2 {
    font-weight: 100;

}
h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0;

}
header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
    url(../images/houston.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(236, 225, 210);
    text-align: center;
    padding: 260px;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
 header a {
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    background-color: aliceblue;
    text-decoration: none;
    padding: 16px;
    display: inline-block;
 }
 @media(max-width: 600px) {
    header {
        padding: 60px 0;
    }
}
 footer {
    color: azure;
    background-image: linear-gradient(rgba(39,32,68,0.8), rgba(39,32,68,0.9)), url("../images/houston3.jpeg");
    background-repeat: no repeat;
    background-size: cover;
    padding: 260px, 0px;

 }
 footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 2;
}
footer h3 {
font-weight: 700;
font-size: 20px;
line-height: 30px;
 }
 a {
    color: lightblue;
    text-decoration: none;
 }
.container {
    padding: 20px;
}
 section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
    
   
 }
 .grid {
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     text-align: center;
     padding: 50px;
 }
 footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}
main {
    background-color: white;
}

main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    color: tan;
    opacity: 0.3;
    text-transform: uppercase;
}
main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;

}
main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;
}
.hou5{
height: 300px;
margin-top: 30px;
}
.grid2 {
    display: grid;
     grid-template-columns: 1fr ;
     text-align: center;
     padding: 32px;
     
}
section.secondary {
    background: #dbd6d6;
    text-align: center;
    
}
.asif {
    color: aliceblue;
}
.lem {
    color: aliceblue;
}
.rest {
    color: palevioletred;
    
}
.fav {
    text-size-adjust: 40px;
}
.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
    
}
.card {
    background-color: white;
    margin: 30px;
    text-align: center;
}

.card h4 {
    color:plum
}
.card h5{
    color: plum;
}
.button4 {
    background-color: bisque;
    display: block;
    letter-spacing: 3px;
    font-weight: 300px;
}
p {
    text-align: center;
}
.img-responsive {
    width: 100%;
}

.embed {
 width: 100%;
 aspect-ratio: 1/1;
}
.newone {
    background-color: rgb(101, 93, 79);
}

 